<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
</script>

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Surrer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        <div class="container">
            <div class="header">
              <!--
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
              -->
                <h3 class="Header__logo text-muted">Surrer</h3>
            </div>

            <div class="View__detail">
              <div class="View__room">
                <div class="View__roomName">深夜のhackday</div>
                <p class="View__roomDescription">よなよな君をhackする</p>
                <p class="View__roomOwner"><a href="http://hackday.jp/open/team/detail/?id=73">あんぐら部公式ch</a></p>
              </div>

              <div class="View__content">
                <h2 class="View__contentTitle">ビデオのファイル名</h2>
              </div>
            </div>

            <div class="View__main row">
              <div class="View__video col-sm-8">
                <video id="video" class="View__videoContent" src="movies/movie1.mov"></video>
                <div class="View__buttons">
                  <input class="btn btn-default" type="button" value="Play" onClick="playVideo()">
                  <input class="btn btn-default" type="button" value="Stop" onClick="pauseVideo()">
                  <input class="btn btn-default" type="button" value="Volume Up" onClick="upVolume()">
                  <input class="btn btn-default" type="button" value="Volume Down" onClick="downVolume()">
                </div>
              </div>

              <div class="View__listener col-sm-4">
                <div class="View__comment">
                  <!-- コメント入力欄 -->
                  <form class="form-inline" action="">
                    <div class="form-group">
                      <input class="form-control" id="message" type="text" placeholder="コメントを入力">
                    </div>
                    <button class="btn btn-default View__formButton" onclick="SendMsg()">送信</button>
                  </form>
                  <ul class="View__commentLists">
                  </ul>
                </div>

                <div class="View__member">
                  <p class="View__memberSum">ただいまの入室者：$val人</p>
                  <ul class="View__memberLists">
                  </ul>
                </div>
              </div>
            </div>



            <div class="footer">
                <p>powerd by あんぐら部</p>
            </div>

        </div>
        

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <script src="javascripts/comment.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

            var v = document.getElementById('video');
            function playVideo() {	//再生ボタン押下時の処理
              //動画を再生
              v.play();
            }
            function pauseVideo() {	//一時停止ボタン押下時の処理
              //動画を一時停止
              v.pause();
            }
            function upVolume() {	//音量アップボタン押下時の処理
              //音量を上げる
              v.volume = v.volume + 0.25;
            }
            function downVolume() {	//音量ダウンボタン押下時の処理
              //音量を下げる
              v.volume = v.volume - 0.25;
            }
        </script>
    </body>
</html>

