

.View {

  &__detail {

  }

  &__roomName {
    font-size: 20px;
  }

  &__main {
    clear: both;
    overflow: hidden;
 }

 &__roomOwner {
   text-align: right;
 }

 &__video {
   display: block;
 }

 &__videoContent {
  // width: 100%;
  // height: 100%;
 }

 &__listener {


   ul,
   li {
     list-style: none;
   }
 }

 &__comment {
   
 }

 &__commentLists {
   
 }

 &__commentList {
   
 }

 &__member {
   border-top: 1px solid #ccc;
 }

 &__memberLists {
 }

 &__memberList {
 }

}

.footer {
  margin-top: 20px;
}
