<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="styles/main.css">
        
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        <div class="container">
            <div class="header">
              <!--
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
              -->
                <h3 class="Header__logo text-muted">Surrer</h3>
            </div>

            <div class="View__detail">
              <div class="View__room">
                <div class="View__roomName">$room name</div>
                <p class="View__roomDescription">$room description</p>
                <p class="View__roomOwner">$user_name</p>
              </div>

              <div class="View__content">
                <h2 class="View__contentTitle">$content_title</h2>
              </div>
            </div>

            <div class="View__main row">
              <div class="View__video col-sm-8">
                <video class="View__videoContent" src="" style="width:100%;height:100%;"></video>
              </div>

              <div class="View__listener col-sm-4">
                <div class="View__comment">
                  <!-- コメント入力欄 -->
                  <form class="View__form" action="">
                    <input type="" placefolder="コメントを入力">
                    <button class="View__formButton">送信</button>
                  </form>
                  <ul class="View__commentLists">
                    <li class="View__commentList">hogehoge</li>
                    <li class="View__commentList">hogehoge</li>
                  </ul>
                </div>
                <div class="View__member">
                  <ul class="View__memberLists">
                    <li class="View__memberList">nickname</li>
                    <li class="View__memberList">nickname</li>
                  </ul>
                </div>
              </div>
            </div>



            <div class="footer">
                <p>powerd by あんぐら部</p>
            </div>

        </div>
        

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <script src="scripts/app.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
